In [24]:
import pandas as pd

#1. preprocess `wide_to_long_inverters`

In [7]:
df_raw = pd.read_csv("data/wide_to_long_inverters.csv")

In [8]:
df_raw['timestamp'] = pd.to_datetime(df_raw['timestamp'], format='%d/%m/%y %H:%M')

In [9]:
# Create a new 'date' column (only the date part)
df_raw['date'] = df_raw['timestamp'].dt.date

In [10]:
df_raw.columns

Index(['timestamp', 'Inverter_ID', 'AC CURRENT L1 (A)', 'AC CURRENT L2 (A)',
       'AC CURRENT L3 (A)', 'AC VOLTAGE L1-L2 (V)', 'AC VOLTAGE L2-L3 (V)',
       'AC VOLTAGE L3-L1 (V)', 'ACTIVE POWER (kW)', 'DC CURRENT TOTAL (A)',
       'DC POWER TOTAL (kW)', 'DC VOLTAGE (V)', 'INSULATION RESISTANCE (kΩ)',
       'TEMPERATURE AC RANGE (ºC)', 'TEMPERATURE DC RANGE (ºC)',
       'TEMPERATURE INTERIOR (ºC)', 'TEMPERATURE OUTSIDE (ºC)', 'date'],
      dtype='object')

In [11]:
# Aggregate by date and compute mean of all numeric columns
df_new = df_raw.drop(columns='timestamp').groupby(['date', 'Inverter_ID']).mean(numeric_only=True).reset_index()

In [12]:
# df_new.to_csv("data/wide_to_long_inverters_processed.csv", index=False)
df_new = pd.read_csv("data/wide_to_long_inverters_processed.csv")

In [13]:
df_new

,date,Inverter_ID,AC CURRENT L1 (A),AC CURRENT L2 (A),AC CURRENT L3 (A),AC VOLTAGE L1-L2 (V),AC VOLTAGE L2-L3 (V),AC VOLTAGE L3-L1 (V),ACTIVE POWER (kW),DC CURRENT TOTAL (A),DC POWER TOTAL (kW),DC VOLTAGE (V),INSULATION RESISTANCE (kΩ),TEMPERATURE AC RANGE (ºC),TEMPERATURE DC RANGE (ºC),TEMPERATURE INTERIOR (ºC),TEMPERATURE OUTSIDE (ºC)
0,2024-01-01,MA1,529.263270,530.249675,529.442712,556.200790,553.995307,556.620792,454.149008,473.609620,469.279708,515.370916,35.191359,36.979655,35.777337,46.558544,33.190491
1,2024-01-01,MA2,563.678367,563.643082,564.944546,556.271289,553.904325,556.803133,488.720598,504.338648,504.686390,525.158997,98.307024,37.204536,36.783036,46.485083,33.660708
2,2024-01-01,MA3,471.204266,469.294599,470.072581,556.007029,553.733094,556.506104,392.466532,404.102284,405.008908,526.282238,82.707008,37.158845,36.574024,46.972481,33.563325
3,2024-01-01,MA4,456.248415,454.646137,457.210869,556.000701,553.926700,556.620038,378.034567,393.479478,390.560998,519.762153,66.679536,36.825298,36.415657,46.607035,33.754216
4,2024-01-01,MA5,521.869363,520.953496,521.879830,556.085373,553.958871,556.622930,445.539608,467.732072,460.233569,518.082100,39.573052,37.377568,36.366526,45.575755,33.573692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,2025-01-01,MA5,0.271000,0.837250,0.270750,567.544250,566.069000,568.422500,0.000000,0.000000,0.000000,5.934500,2.100000,-4.900000,36.200000,45.015750,37.500000
3646,2025-01-01,MA6,0.479000,0.804250,0.775000,567.588500,566.035500,568.413750,0.000000,0.000000,0.000000,1.377500,13.635000,37.400000,36.000000,45.955000,36.400000
3647,2025-01-01,MB1,0.695750,1.000000,0.762500,567.500000,565.737750,568.399750,0.000000,0.000000,0.000000,1.732000,17.800000,37.400000,36.464500,45.915000,37.777500
3648,2025-01-01,MB2,0.304250,1.000000,0.587500,567.626750,565.897500,568.368750,0.000000,0.000000,0.000000,1.592250,18.960500,37.210750,36.100000,45.400000,37.473750
3649,2025-01-01,MB3,0.558500,0.054000,0.633500,567.621000,566.027250,568.448000,0.000000,0.000000,0.000000,1.024000,8.300000,36.900000,35.800000,45.200000,37.400000

#2. preprocess `Raw data spansafe for CB.csv`

In [14]:
df = pd.read_csv("data/Raw data spansafe for CB.csv")

In [15]:
df

,Date,Time,TNB Sepang Solar - Comb String Box MA1-01 - DC CURRENT 11 (A),TNB Sepang Solar - Comb String Box MA1-02 - DC CURRENT 10 (A),TNB Sepang Solar - Comb String Box MA1-03 - DC CURRENT 9 (A),TNB Sepang Solar - Comb String Box MA1-04 - DC CURRENT 7 (A),TNB Sepang Solar - Comb String Box MA1-05 - DC CURRENT 6 (A),TNB Sepang Solar - Comb String Box MA1-06 - DC CURRENT 5 (A),TNB Sepang Solar - Comb String Box MA1-07 - DC CURRENT 3 (A),TNB Sepang Solar - Comb String Box MA1-08 - DC CURRENT 2 (A),...,TNB Sepang Solar - Inverter MC3 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MC4 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MC5 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MC6 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD1 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD2 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD3 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD4 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD5 - DC VOLTAGE (V),TNB Sepang Solar - Inverter MD6 - DC VOLTAGE (V)
0,01/01/2024,00:05,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,1.4050,2.78520,2.1158,2.4984,1.9380,2.08260,2.6536,2.1124,2.2688,2.6308
1,01/01/2024,00:10,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,1.3424,2.72320,2.0674,2.4440,1.8994,1.98840,2.6100,2.0600,2.0828,2.5164
2,01/01/2024,00:15,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,1.3030,2.65580,2.0340,2.3824,4.3242,2.01280,2.5330,1.9734,2.0164,2.4290
3,01/01/2024,00:20,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,1.2608,2.60160,1.9930,2.3266,9.3620,1.92580,2.4794,1.9140,1.9386,2.3500
4,01/01/2024,00:25,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,1.2258,2.55080,1.9794,2.3080,9.4466,1.93920,2.4432,1.9056,1.9362,2.3684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105403,31/12/2024,23:40,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,0.7004,1.84140,1.3790,1.6752,8.0146,1.29800,1.7010,1.1902,1.3662,1.7898
105404,31/12/2024,23:45,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,0.7006,1.83980,1.4188,1.6930,8.1530,1.30060,1.7156,1.2234,1.4040,1.8070
105405,31/12/2024,23:50,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,0.7078,1.87140,1.4270,1.7056,8.1838,1.31400,1.7414,1.2292,1.4324,1.8230
105406,31/12/2024,23:55,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,0.7466,1.88500,1.4840,1.7234,8.2016,1.35000,1.7650,1.2470,1.4810,1.8576
105407,01/01/2025,00:00,0.0,0.0,-0.1,0.0,0.0,-0.1,0.1,0.0,...,0.7935,1.92675,1.5000,1.7705,8.3195,1.41825,1.7750,1.2840,1.5200,1.9095

In [16]:
# convert wide to long format
df_long = pd.melt(
    df,
    id_vars=['Date', 'Time'],         # 👈 Do not melt these
    var_name='Column',
    value_name='Values'
)

In [17]:
# split "Column" by "-" into multiple columns
df_long[['company', 'device_name', 'value_type']] = df_long['Column'].str.split(' - ', expand=True)

In [18]:
# only keey rows that "Device_id" column contains 'Comb String Box'
df_long = df_long[df_long['device_name'].str.contains('Comb String Box', na=False)]

In [19]:
df_long[['inverter_id', 'comb_box_ind']] = df_long['device_name'].str.extract(r'([A-Z]{2}\d+)-(\d{2})')

In [20]:
# drop columns 'Column' and 'company'
df_long = df_long.drop(columns=['company', 'Column'])

In [21]:
# get average values by Date and drop Time column
df_avg = df_long.drop(columns='Time').groupby(['Date', 'device_name', 'value_type', 'inverter_id',
       'comb_box_ind']).mean(numeric_only=True).reset_index()

In [22]:
# drop column 'value_type' and rename column 'Values' to 'DC CURRENT(A)'
df_final = df_avg.drop(columns='value_type').rename(columns={'Values': 'DC CURRENT(A)'})

In [23]:
# df_final.to_csv("data/combiner_box_preprocessed.csv", index=False)
df_final = pd.read_csv("data/combiner_box_preprocessed.csv")

In [36]:
# aggregate by device_name and value_type
unique_combinations = df_long[df_long['inverter_id'] == 'MA1'][['device_name', 'value_type']].drop_duplicates()
print(unique_combinations)

                    device_name         value_type
0        Comb String Box MA1-01  DC CURRENT 11 (A)
105408   Comb String Box MA1-02  DC CURRENT 10 (A)
210816   Comb String Box MA1-03   DC CURRENT 9 (A)
316224   Comb String Box MA1-04   DC CURRENT 7 (A)
421632   Comb String Box MA1-05   DC CURRENT 6 (A)
527040   Comb String Box MA1-06   DC CURRENT 5 (A)
632448   Comb String Box MA1-07   DC CURRENT 3 (A)
737856   Comb String Box MA1-08   DC CURRENT 2 (A)
843264   Comb String Box MA1-09   DC CURRENT 1 (A)
948672   Comb String Box MA1-10  DC CURRENT 11 (A)
1054080  Comb String Box MA1-11  DC CURRENT 10 (A)
1159488  Comb String Box MA1-12   DC CURRENT 9 (A)
1264896  Comb String Box MA1-13   DC CURRENT 7 (A)
1370304  Comb String Box MA1-14   DC CURRENT 6 (A)
1475712  Comb String Box MA1-15   DC CURRENT 5 (A)

In [32]:
df_long.value_type.value_counts()

value_type
DC CURRENT 7 (A)     4954176
DC CURRENT 6 (A)     4954176
DC CURRENT 5 (A)     4954176
DC CURRENT 9 (A)     3900096
DC CURRENT 3 (A)     3900096
DC CURRENT 2 (A)     3900096
DC CURRENT 1 (A)     3900096
DC CURRENT 11 (A)    3794688
DC CURRENT 10 (A)    3689280
Name: count, dtype: int64

#3. preprocess prediction results

In [ ]:
# !pip install pyarrow  # or fastparquet

In [25]:
# Load Parquet file
df_pq  = pd.read_parquet("data/TEST_DF_22_May_2025_9PM.parquet")

In [26]:
df_pq.head()

,AC CURRENT L1 (A),AC CURRENT L2 (A),AC CURRENT L3 (A),AC VOLTAGE L1-L2 (V),AC VOLTAGE L2-L3 (V),AC VOLTAGE L3-L1 (V),DC CURRENT TOTAL (A),DC POWER TOTAL (kW),DC VOLTAGE (V),INSULATION RESISTANCE (kΩ),...,hour,month,is_daylight_1,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6,is_weekend_True
78911,0.1934,0.9700,0.8166,564.0784,562.2768,564.8996,0.0600,0.0,1.8992,11.8000,...,0,10,False,True,False,False,False,False,False,False
78912,0.2400,1.0000,0.7568,565.8096,563.8940,566.4532,0.0334,0.0,1.8430,11.8000,...,0,10,False,True,False,False,False,False,False,False
78913,0.2734,0.9700,0.7866,564.5340,562.7998,565.3504,0.0000,0.0,1.7362,11.8000,...,0,10,False,True,False,False,False,False,False,False
78914,0.2802,0.9734,0.8800,563.7766,561.9018,564.5726,0.0000,0.0,1.5492,11.8000,...,0,10,False,True,False,False,False,False,False,False
78915,0.4000,0.9400,0.6334,564.0314,562.2370,564.8644,0.0000,0.0,1.4708,11.7934,...,0,10,False,True,False,False,False,False,False,False

In [28]:
df_pq.shape

(26491, 28)

In [27]:
df_pq.columns

Index(['AC CURRENT L1 (A)', 'AC CURRENT L2 (A)', 'AC CURRENT L3 (A)',
       'AC VOLTAGE L1-L2 (V)', 'AC VOLTAGE L2-L3 (V)', 'AC VOLTAGE L3-L1 (V)',
       'DC CURRENT TOTAL (A)', 'DC POWER TOTAL (kW)', 'DC VOLTAGE (V)',
       'INSULATION RESISTANCE (kΩ)', 'TEMPERATURE AC RANGE (ºC)',
       'TEMPERATURE DC RANGE (ºC)', 'TEMPERATURE INTERIOR (ºC)',
       'TEMPERATURE OUTSIDE (ºC)', 'is_downtime_future_30m',
       'active_power_lag1', 'active_power_lag3', 'active_power_roll_mean_6',
       'hour', 'month', 'is_daylight_1', 'dayofweek_1', 'dayofweek_2',
       'dayofweek_3', 'dayofweek_4', 'dayofweek_5', 'dayofweek_6',
       'is_weekend_True'],
      dtype='object')

#4. preprocess weather data

In [31]:
# Load the first sheet by index (0)
df_xls = pd.read_excel("data/raw data weather condition.xlsx", sheet_name=0)

In [33]:
df_xls.shape

(105408, 32)

In [32]:
df_xls.head()

,Date,Time,TNB Sepang Solar - Weather Station MA1 - Ambient Air Temperature (°C) (ºC),TNB Sepang Solar - Weather Station MA1 - Horizontal Irradiance (W/m2) (W/m2),TNB Sepang Solar - Weather Station MA1 - Module Temperature (°C) (ºC),TNB Sepang Solar - Weather Station MA1 - Tilted Angle Irradiance (W/m2) (W/m2),TNB Sepang Solar - Weather Station MA1 - Wind Direction (°) (º),TNB Sepang Solar - Weather Station MA1 - Wind Speed (m/s) (m/s),TNB Sepang Solar - Weather Station MB2 - AMBIENT TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MB2 - HORIZONTAL IRRADIANCE (PYR 1) (W/m2),...,TNB Sepang Solar - Weather Station MD1 - PANEL TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD1 - TILTED IRRADIANCE MD1 (W/m2),TNB Sepang Solar - Weather Station MD1 - WIND DIRECTION (SENSOR 1) (º),TNB Sepang Solar - Weather Station MD1 - WIND SPEED (SENSOR 1) (m/s),TNB Sepang Solar - Weather Station MD4 - AMBIENT TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD4 - HORIZONTAL IRRADIANCE (PYR 1) (W/m2),TNB Sepang Solar - Weather Station MD4 - PANEL TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD4 - TILTED IRRADIANCE MD4 (W/m2),TNB Sepang Solar - Weather Station MD4 - WIND DIRECTION (SENSOR 1) (º),TNB Sepang Solar - Weather Station MD4 - WIND SPEED (SENSOR 1) (m/s)
0,01/01/2024,00:05,0.0,0.0,0.0,0.0,0.0,0.0,-99.9,-33.966,...,25.8200,0.0,147.9000,1.1780,0.0,0.0,0.0,0.0,0.0,0.0
1,01/01/2024,00:10,0.0,0.0,0.0,0.0,0.0,0.0,-99.9,0.000,...,25.8204,0.0,140.2668,1.0030,0.0,0.0,0.0,0.0,0.0,0.0
2,01/01/2024,00:15,0.0,0.0,0.0,0.0,0.0,0.0,-99.9,0.000,...,25.7614,0.0,157.5334,0.8786,0.0,0.0,0.0,0.0,0.0,0.0
3,01/01/2024,00:20,0.0,0.0,0.0,0.0,0.0,0.0,-99.9,0.000,...,25.7000,0.0,140.5334,0.5640,0.0,0.0,0.0,0.0,0.0,0.0
4,01/01/2024,00:25,0.0,0.0,0.0,0.0,0.0,0.0,-99.9,0.000,...,25.6800,0.0,139.8666,0.7788,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df_day = df_xls.drop(columns='Time').groupby(['Date']).mean(numeric_only=True).reset_index()
df_day['Date'] = pd.to_datetime(df_day['Date'], format="%d/%m/%Y")

In [42]:
df_day

,Date,TNB Sepang Solar - Weather Station MA1 - Ambient Air Temperature (°C) (ºC),TNB Sepang Solar - Weather Station MA1 - Horizontal Irradiance (W/m2) (W/m2),TNB Sepang Solar - Weather Station MA1 - Module Temperature (°C) (ºC),TNB Sepang Solar - Weather Station MA1 - Tilted Angle Irradiance (W/m2) (W/m2),TNB Sepang Solar - Weather Station MA1 - Wind Direction (°) (º),TNB Sepang Solar - Weather Station MA1 - Wind Speed (m/s) (m/s),TNB Sepang Solar - Weather Station MB2 - AMBIENT TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MB2 - HORIZONTAL IRRADIANCE (PYR 1) (W/m2),TNB Sepang Solar - Weather Station MB2 - PANEL TEMPERATURE (SENSOR 1) (ºC),...,TNB Sepang Solar - Weather Station MD1 - PANEL TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD1 - TILTED IRRADIANCE MD1 (W/m2),TNB Sepang Solar - Weather Station MD1 - WIND DIRECTION (SENSOR 1) (º),TNB Sepang Solar - Weather Station MD1 - WIND SPEED (SENSOR 1) (m/s),TNB Sepang Solar - Weather Station MD4 - AMBIENT TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD4 - HORIZONTAL IRRADIANCE (PYR 1) (W/m2),TNB Sepang Solar - Weather Station MD4 - PANEL TEMPERATURE (SENSOR 1) (ºC),TNB Sepang Solar - Weather Station MD4 - TILTED IRRADIANCE MD4 (W/m2),TNB Sepang Solar - Weather Station MD4 - WIND DIRECTION (SENSOR 1) (º),TNB Sepang Solar - Weather Station MD4 - WIND SPEED (SENSOR 1) (m/s)
0,2024-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99.9,189.773349,-99.9,...,33.597753,196.009166,153.279580,1.162168,0.0,0.0,0.0,0.0,0.0,0.0
1,2025-01-01,24.900000,-1.000000,29.949500,-0.221000,195.356500,0.100000,0.0,0.000000,0.0,...,25.348000,0.000000,247.291750,0.439750,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-02-01,-2.115937,7.827026,-2.115937,7.572024,-21.159375,-2.115937,-99.9,235.641013,-99.9,...,34.161144,228.352439,143.238053,1.413111,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-03-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99.9,182.280697,-99.9,...,32.174903,186.503492,168.755288,1.293831,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-04-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,36.779307,278.118881,191.238451,1.480721,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,2024-05-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,35.345522,236.642613,137.646280,1.908828,0.0,0.0,0.0,0.0,0.0,0.0
363,2024-07-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,35.490555,220.905900,164.475901,1.608578,0.0,0.0,0.0,0.0,0.0,0.0
364,2024-08-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,37.744885,224.749650,135.573495,1.358188,0.0,0.0,0.0,0.0,0.0,0.0
365,2024-10-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,36.187256,257.295746,272.690246,2.279164,0.0,0.0,0.0,0.0,0.0,0.0
366,2024-12-31,26.607748,208.315020,36.422756,217.534664,109.548295,0.853896,0.0,0.000000,0.0,...,27.504996,214.602829,165.431523,1.702041,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# convert wide to long format
df_weather = pd.melt(
    df_day,
    id_vars=['Date'],        
    var_name='Column',
    value_name='Values'
)