In [18]:
import pandas as pd

In [19]:
# load csv as dataframe
df = pd.read_csv("data/wide_to_long_inverters.csv")

In [22]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%d/%m/%y %H:%M')

In [23]:
df

,timestamp,Inverter_ID,AC CURRENT L1 (A),AC CURRENT L2 (A),AC CURRENT L3 (A),AC VOLTAGE L1-L2 (V),AC VOLTAGE L2-L3 (V),AC VOLTAGE L3-L1 (V),ACTIVE POWER (kW),DC CURRENT TOTAL (A),DC POWER TOTAL (kW),DC VOLTAGE (V),INSULATION RESISTANCE (kΩ),TEMPERATURE AC RANGE (ºC),TEMPERATURE DC RANGE (ºC),TEMPERATURE INTERIOR (ºC),TEMPERATURE OUTSIDE (ºC)
0,2024-01-01 00:05:00,MA1,0.8064,0.2100,0.5268,561.7690,559.5474,562.4240,0.0,-1.0,0.0,1.4470,11.2980,37.3000,35.8000,47.0186,38.0234
1,2024-01-01 00:10:00,MA1,0.7500,0.1768,0.5566,561.7962,559.5594,562.4334,0.0,-1.0,0.0,1.4182,11.4000,37.3000,35.8000,47.0000,38.0430
2,2024-01-01 00:15:00,MA1,0.7598,0.1500,0.5466,561.7554,559.4774,562.2976,0.0,-1.0,0.0,2.1764,11.4516,37.2838,35.8000,47.0000,37.9690
3,2024-01-01 00:20:00,MA1,0.7700,0.2102,0.4900,561.5266,559.2728,562.1176,0.0,-1.0,0.0,1.6628,11.4000,37.2000,35.8000,46.9894,37.9364
4,2024-01-01 00:25:00,MA1,0.7766,0.2332,0.4900,560.9830,558.7786,561.6456,0.0,-1.0,0.0,1.3342,11.4954,37.2000,35.8000,46.8352,38.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2024-12-12 20:55:00,MB4,0.6300,0.3300,0.8234,554.0188,552.0756,554.7972,0.0,0.0,0.0,12.7342,32.3318,39.3000,36.8000,48.7000,38.7320
1048571,2024-12-12 21:00:00,MB4,0.6334,0.3102,0.8666,554.3814,552.3442,555.1424,0.0,0.0,0.0,12.5788,31.0940,39.3000,36.8000,48.7000,38.9144
1048572,2024-12-12 21:05:00,MB4,0.6634,0.2966,0.8364,555.0086,552.9708,555.7086,0.0,0.0,0.0,12.0624,30.1024,39.3674,36.7116,48.7000,39.0334
1048573,2024-12-12 21:10:00,MB4,0.6200,0.3134,0.8234,555.3238,553.3802,556.0932,0.0,0.0,0.0,12.5676,29.0670,39.4000,36.5710,48.7000,39.1284
1048574,2024-12-12 21:15:00,MB4,0.6002,0.2598,0.8534,555.2188,553.2674,555.9414,0.0,0.0,0.0,13.7842,28.5810,39.4520,36.5000,48.7514,39.1788

In [24]:
df.dtypes

timestamp                     datetime64[ns]
Inverter_ID                           object
AC CURRENT L1 (A)                    float64
AC CURRENT L2 (A)                    float64
AC CURRENT L3 (A)                    float64
AC VOLTAGE L1-L2 (V)                 float64
AC VOLTAGE L2-L3 (V)                 float64
AC VOLTAGE L3-L1 (V)                 float64
ACTIVE POWER (kW)                    float64
DC CURRENT TOTAL (A)                 float64
DC POWER TOTAL (kW)                  float64
DC VOLTAGE (V)                       float64
INSULATION RESISTANCE (kΩ)           float64
TEMPERATURE AC RANGE (ºC)            float64
TEMPERATURE DC RANGE (ºC)            float64
TEMPERATURE INTERIOR (ºC)            float64
TEMPERATURE OUTSIDE (ºC)             float64
dtype: object

In [25]:
df.to_csv("data/wide_to_long_inverters_processed.csv")

In [15]:
grouped_data = df.groupby(['Inverter_ID', df['timestamp'].dt.to_period('M')]).agg({'ACTIVE POWER (kW)': 'sum'}).reset_index()
grouped_data

    Inverter_ID timestamp  ACTIVE POWER (kW)
0           MA1   2024-01       4.070274e+06
1           MA1   2024-02       3.912226e+06
2           MA1   2024-03       4.281817e+06
3           MA1   2024-04       3.934866e+06
4           MA1   2024-05       4.223585e+06
..          ...       ...                ...
124         MB4   2024-08       4.182033e+06
125         MB4   2024-09       4.016209e+06
126         MB4   2024-10       4.370447e+06
127         MB4   2024-11       3.670002e+06
128         MB4   2024-12       1.643321e+06

[129 rows x 3 columns]

In [17]:
filtered_data = grouped_data[grouped_data['Inverter_ID'].str.startswith('January 2024')]
filtered_data

Empty DataFrame
Columns: [Inverter_ID, timestamp, ACTIVE POWER (kW)]
Index: []